@import '@/uni_modules/uni-scss/variables.scss';

$uni-color-primary: #0e67a9;
$uni-color-price:#d42f2f;
$uni-color-write:#fff;
$uni-color-base:#333;
$uni-color-bg:#f9f9fd;
$uni-border-color:#ebeef5;
$uni-textlabel-color:#666;
$uni-bg-primary:#f5f4f4;
$uni-button-disable:rgba(14,103,169,.7);

$uni-font-14:14px;